<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name="dev.elu.analytics.internal.replay.NativeCollectorTestActivity"
            android:exported="false" android:theme="@android:style/Theme.Material.Light.NoActionBar" />
        <activity android:name="dev.elu.analytics.internal.replay.NativeWindowCompatibilityTestActivity"
            android:exported="false" android:theme="@android:style/Theme.Material.Light.NoActionBar" />
    </application>
</manifest>
